/*CSS Reset / Normalize*/

body {
    box-sizing: border-box;
    /* background-color: #b3aeae; */
    cursor: pointer;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 100vw;
}
.bodyClass{
    background-color:  #e7c5af;
    width: 100%;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    /* color: black; */
    font-size: 18px;
    font-weight: 700;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

/* Agregado por mi*/
#qr{
    width: 150px;
    clip-path: inset(0 22px 0 22px );
}
#cplasplas{
    width: 28px;
}
#python{
    width: 65px;
    clip-path: inset(0 12px 0 12px );
    margin-left: -9px;
}


#scalping{
    width: 60px
}
#joystick{
    width: 60px;
    clip-path: inset(0 10px 0 10px );
}
#conosur{
    background-color: white;
}
.profile{

    border-radius: 60px;
}
.avisoMensaje{    
    display: flex;
    text-align: center;
    justify-content: center;
}
#firma{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-mensaje-error {
    font-weight: 600;
    color: rgb(207, 25, 25);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.invisible{
    display: none;
}

.color-a:hover{
    color: rgb(25, 85, 85);
}

.color-a {
    color:#e48d2a;
    text-decoration: none;
    
}
*{
    cursor:default;
    /* overflow: hidden; */
}
a{
    cursor: pointer;
    
}

.liPar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.liPar li{
    margin: 10px;
    width: 100px;
    text-align: center;
}


.bi-wrench-adjustable{
    background-color: #6193d4;;
}
.haber{
    height: 100px;
    background-color: #6193d4;
}

.rodape, #p2022, #firma{
    background-color: #6193d4;
}

.imgCursos{
    width: 120px;
    height: 40px;
}

ul.course-list{
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

h3{
    font-size: 31px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 1rem;
}
h3 .section-about{
    font-weight: bold;
}
h2{
    margin-bottom: 1rem;
    font-size: 20px;
}
h5{
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 700;
}
.about-paragraph{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 00.5rem;
}
.profile{
    width: 170px;
}

button:hover{
    color: rgb(61, 29, 29);
}