section.academic{
    display: inline-block;
}

section.academic div.courses{
    margin: 0 auto;
    text-align: center;
    
}
.course-list{
    height: 200px;
    width: 300px;
}
ul.course-list{
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}
.imgCursos{
    width: 86px;
    height: 40px;
}
#conosur{
    background: white;
}

p{
    font-weight: 400;
}
h2{
    margin-bottom: 1rem;
    font-size: 20px;
}
.courses-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}
section.academic div.courses ul li{
    margin: 32px;
    padding: 0;
}

section.academic div.courses ul li.course-title h4{
    font-weight: 700;
    font-size: 16px;
    margin-top: -50px;
    text-align: start;
}
.course-title{ 
    font-size: 20px;
}
section.academic div.courses ul li.course-subtitle{
    font-weight: 500;
    font-size: 14px;
    text-align: start;
}
.sub-title, .course-title{
    color:#fff;
}