.container-frases{
    display: flex;
    margin: 30px;
    /* align-items: center; */
    justify-content: center;
}
.frases{
    display: flex;
    justify-content: center;
    color: white;
    width: 98%;
    border-radius: 16px;
    height: 150px;
    align-items: center;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo-de-frase{
    
    margin-top: 15px;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p_frase{
    margin: 15px 15px 20px 15px;
    font-family: Courier;
}



#box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Raleway';
}
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  /* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
  background: linear-gradient(60deg, #63584d, #92645b, #ef4e7b, #85618b, #4e6188, #095c69, #086357, #4a7756);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


