section.hobbies-section div.hobbies-line{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
section.hobbies-section div.hobbies-line div.hobbies-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    margin: 15px 0 22px 0;
    width: 156px;
    height: 118px;
}

section.hobbies-section div.hobbies-line div.hobbies-box ul{
    margin: 0;
    padding: 0;

}

#scalping{
    width: 60px
}
#joystick{
    width: 60px;
    clip-path: inset(0 10px 0 10px );
}
.hobbies-name{
    color: #fff;
}