.tudo{
    margin: 0 16px 0 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*Seccion Menu*/
.color-btn{
    color: rgb(228, 146, 47);
}


.dropdown-menu.color.show{
    background: #8cafdf;
}
i.fa-language:hover{
    zoom: 107%;
}
.headerHastaDropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown{
    display: flex;
    align-items: baseline;
}

a{
    cursor: pointer;
}
.color-a:hover{
    color: #8cafdf;
}
.dropdown-menu.show{
    color: #8cafdf;
}



section {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    /* color: #464646; */
    }
.dropdown{
    margin-right: 8px; 
}
#dropdown{
    margin-right: 8px;
      display: flex;
     justify-content: end; 
}
div#dropdown.dropdown{
    display: flex;
    align-items: center;
}

a.dropdown-item{
    font-weight: 600;
}
a.dropdown-item:hover{
    background-color: #0364ec;
}
/* .bi-arrow-up-right-square-fill{
    background-color: yellow;
} */

.menu-title{
    color: #fff;
}
