section header h3.menu-title{
    margin-left: 8px;
}


.subsection-bio{
    color: #312926;
    font-weight: 700;
    font-size: initial;
}
section.menu nav li{
    font-size: 14px;
    font-weight: 400;

}
.courses-box
section.title div.title-div div.title-container h2{ 
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}
section.title div.title-div div.title-container h3{
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-top: 2.5rem;
    margin-right: 1.5rem;
    font-size: 16px;
}
section.title div.title-div div.title-container ul{
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    font-size: 14px;
}

h5{
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 700;
}
h2{
    margin-bottom: 1rem;
    font-size: 20px;
}

.section-title{
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.banner {
    background-image: url("assets/bannerAlura5.jpg");
}
.profile{
    width: 170px;
}
.liPar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.liPar li{
    margin: 10px;
    width: 100px;
    text-align: center;
}
.profile{
    border-radius: 60px;
}
